In [2]:
import pandas as pd

In [29]:
df = pd.read_csv("PDA22-27_.csv",sep=';', index_col = 'Year')
df1 = pd.read_csv("Soft22-27_.csv",sep=';', index_col = 'Year')

In [35]:
df[['D']]

         D
Year
2022   700
2023   840
2024  1008
2025  1209
2027  1450
2027  1740

In [20]:
dict_status = {'Дистрибьютер', 'Премиум партнер', 'Партнер'}

In [27]:
a=list(dict_status)

In [99]:
a=df[['D']]

In [100]:
b=df1[['D']]

In [101]:
c=pd.concat([a,b],axis=1)

In [105]:
c

         q    2
Year
2022   700   45
2023   840   90
2024  1008  135
2025  1209  202
2027  1450  303
2027  1740  454

In [110]:
c.iloc[:,1]

Year
2022     45
2023     90
2024    135
2025    202
2027    303
2027    454
Name: 2, dtype: int64

In [104]:
c.columns=ds

In [103]:
ds=list(['q','2'])

In [45]:
c['LT']=c['SOFT']*0.25

In [47]:
dict_status = {'Дистрибьютер':'D', 'Премиум партнер':'PP', 'Партнер':'P'}

In [49]:
dict_status['Дистрибьютер']

'D'

In [60]:
dict_status.get('Премиум партнер')

'PP'

In [52]:
dict_status.values()

dict_values(['D', 'PP', 'P'])

In [61]:
aw=list(dict_status.values())

In [64]:
aw[0]

'D'

In [74]:
product_direct_dict = {'Retail', 'SIGMA', 'Девайс', 'Мобильные решения'}
product_direct_list = list(product_direct_dict)

In [75]:
product_direct_list

['Мобильные решения', 'SIGMA', 'Девайс', 'Retail']

In [70]:
dict_AMS1 ={'Все','ТСД','ПО Mark.Scan'}

In [71]:
list_AMS= list(dict_AMS1)

In [73]:
list_AMS

['ПО Mark.Scan', 'Все', 'ТСД']

In [80]:
product_direct_list =  list(['Retail', 'SIGMA', 'Девайс', 'Мобильные решения'])

In [81]:
product_direct_list

['Retail', 'SIGMA', 'Девайс', 'Мобильные решения']

In [89]:
a=5

In [90]:
b=4

In [91]:
c=a+b

In [92]:
c

9

In [3]:
dff= pd.read_csv('buisnes-roadmap.csv')

In [6]:
dff[dff['Продуктовое направление']==  'Мобильные решения']

,Продуктовое направление,Товарная группа,1Q — П,2Q — П,3Q — П,4Q — П,Total- П,1Q — ПП,2Q- ПП,3Q — ПП,4Q — ПП,Total — ПП,1Q — Д,2Q — Д,3Q — Д,4Q — Д,Total — Д
9,Мобильные решения,Терминалы сбора данных,15,30,25,30,100,50,100,90,110,350,150,180,170,200,700
10,Мобильные решения,ПО MarkScan,0,10,5,10,25,0,20,15,25,60,0,15,10,20,45

In [11]:
col_d= [2,3,4,5,6,7,8,9,10,11]
col_p= [7,8,9,10,11,12,13,14,15,16]
col_pp= [2,3,4,5,6,12,13,14,15,16]

In [12]:
df_d= dff[dff['Продуктовое направление']== 'Мобильные решения'].drop(dff.columns[col_d], axis=1)
df_p= dff[dff['Продуктовое направление']== 'Мобильные решения'].drop(dff.columns[col_p], axis=1)
df_pp= dff[dff['Продуктовое направление']== 'Мобильные решения'].drop(dff.columns[col_pp], axis=1)

In [13]:
df_d

,Продуктовое направление,Товарная группа,1Q — Д,2Q — Д,3Q — Д,4Q — Д,Total — Д
9,Мобильные решения,Терминалы сбора данных,150,180,170,200,700
10,Мобильные решения,ПО MarkScan,0,15,10,20,45