In [1]:
import pandas as pd

In [29]:
df = pd.read_csv("PDA22-27_.csv",sep=';', index_col = 'Year')

In [36]:
df1 = pd.read_csv("Soft22-27_.csv",sep=';', index_col = 'Year')

In [35]:
df[['D']]

         D
Year
2022   700
2023   840
2024  1008
2025  1209
2027  1450
2027  1740

In [20]:
dict_status = {'Дистрибьютер', 'Премиум партнер', 'Партнер'}

In [27]:
a=list(dict_status)

In [99]:
a=df[['D']]

In [100]:
b=df1[['D']]

In [101]:
c=pd.concat([a,b],axis=1)

In [105]:
c

         q    2
Year
2022   700   45
2023   840   90
2024  1008  135
2025  1209  202
2027  1450  303
2027  1740  454

In [110]:
c.iloc[:,1]

Year
2022     45
2023     90
2024    135
2025    202
2027    303
2027    454
Name: 2, dtype: int64

In [104]:
c.columns=ds

In [103]:
ds=list(['q','2'])

In [45]:
c['LT']=c['SOFT']*0.25

In [47]:
dict_status = {'Дистрибьютер':'D', 'Премиум партнер':'PP', 'Партнер':'P'}

In [49]:
dict_status['Дистрибьютер']

'D'

In [60]:
dict_status.get('Премиум партнер')

'PP'

In [52]:
dict_status.values()

dict_values(['D', 'PP', 'P'])

In [61]:
aw=list(dict_status.values())

In [64]:
aw[0]

'D'

In [74]:
product_direct_dict = {'Retail', 'SIGMA', 'Девайс', 'Мобильные решения'}
product_direct_list = list(product_direct_dict)

In [75]:
product_direct_list

['Мобильные решения', 'SIGMA', 'Девайс', 'Retail']

In [70]:
dict_AMS1 ={'Все','ТСД','ПО Mark.Scan'}

In [71]:
list_AMS= list(dict_AMS1)

In [73]:
list_AMS

['ПО Mark.Scan', 'Все', 'ТСД']

In [80]:
product_direct_list =  list(['Retail', 'SIGMA', 'Девайс', 'Мобильные решения'])

In [81]:
product_direct_list

['Retail', 'SIGMA', 'Девайс', 'Мобильные решения']

In [89]:
a=5

In [90]:
b=4

In [91]:
c=a+b

In [92]:
c

9